@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');


body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(221, 221, 221);
    height: 100vh;
}

.grid-container {
    flex: 1;
    display: grid;
    grid-template: 1fr 5fr / minmax(260px, 340px) 6fr 2fr;
}

.sidebar-grid {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    color: white;
    background-color: #1992d4;
    font-size: 22px;
    font-weight: 700;
    padding: 20px 15px 0 0;
    display: grid;
    grid-template: 80px repeat(5, 25px) 60px repeat(3, 25px) / 1fr 2fr;
    gap: 1em 0.25em;
}

.sidebar-grid img {
    height: 50px;
}

.grid-row-wrapper{
    display: contents;
    font-size: 32px;
}

.col-1 {
    justify-self: center;
}

.row-1 {
    align-self: center;
}
.sidebar-item:hover {
    color: black;
}

header {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    background-color: white;
    display: grid;
    grid-template: 50% 50% / 50px 1fr repeat(2, 50px) 100px;
}

.header-button {
    background-color: white;
    border: 1px red solid;
}

.header-button:hover {
    background-color: rgb(221, 221, 221);
}

.profile-button {
    grid-column: 4 / -1;
}

.user-img1 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.welcome-message { 
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.button-grid{
    grid-column: 3 / -1;
    grid-row: 2 / 3;
}

.content {
    grid-column: 2 / 3;
    grid-row: 2 / -1;
    padding: 0 20px;
    margin-bottom: 30px;
}

.project-card-grid {
    display: grid;
    gap: 10px;
    padding: 4px;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.project-card {
    border-left: 10px solid #f0b429;
    border-radius: 10px;
    padding: 15px 10px;
    background-color: white;

}

.info-bar {
    grid-column: 3 / -1;
    grid-row: 2 / -1;
    display: grid;
    grid-template: 65px 230px 65px 330px / minmax(200px, 1fr);
    margin-right: 30px;
    margin-bottom: 30px;
}

.trending-contacts {
    display: grid;
    grid-template: repeat(4, 65px) / 1fr;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    gap: 10px;
}

.contact {
   display: grid;
   grid-template: 1fr 1fr / 60px 1fr; 
   font-size: 13px;
}

.contact p {
    margin: 0;
    color: rgb(92, 92, 92);
}

.contact>p:first-of-type {
    align-self: flex-end;
    color: black;
    font-weight: 500;
    font-size: 14px;
}

.contact>img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    align-self: center;
    justify-self: center;
}

.contact>img:hover {
    transform: scale(1.1);
    transition: 200ms;
}

/* footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
} */