@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');


body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(221, 221, 221);
    height: 100vh;
}

.grid-container {
    flex: 1;
    display: grid;
    grid-template: 1.1fr 5fr / minmax(260px, 310px) 6fr 2fr;
}

.sidebar-grid {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    color: white;
    background-color: #1992d4;
    font-size: 22px;
    font-weight: 700;
    padding: 20px;
    display: grid;
    grid-template: 70px repeat(5, 25px) 60px repeat(3, 25px) / 70px 2fr;
    gap: 1em 0;
}

.sidebar-grid img {
    height: 50px;
}

.grid-row-wrapper{
    display: contents;
    font-size: 32px;
}

.col-1 {
    justify-self: center;
}

.row-1 {
    align-self: center;
}
.sidebar-item:hover {
    color: black;
}

header {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    background-color: white;
    display: grid;
    grid-template: 45% 55% / 2fr 1fr;
    padding: 0 30px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.search-button, .notification-button {
    background-color: white;
    border: none;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    align-self: center;
}

.header-button:hover {
    background-color: rgb(221, 221, 221);
}

.search-bar {
    height: 40px;
    align-self: center;
    border-radius: 20px;
    padding: 0 20px;
    max-width: 700px;
    margin: 0 15px;
    border: none;
    background-color: #dddddd;
    flex: 1;
}

.search-bar:active {
    border: none;
}

.header-top-left-wrapper {
    grid-column: 1 / 2;
    display: flex;
}

.header-top-right-wrapper {
    grid-column: 2 / -1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-bottom-left-wrapper {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
}

.header-bottom-right-wrapper {
    grid-column: 2 / -1;
    grid-row: 2 / 3;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

.profile-button {
    margin-left: 15px;
    border-radius: 25px;
    display: flex;
    height: 50px;
    background-color: white;
    border: none;
    padding: 0;
    font-size: 18px;
}

.profile-name {
    font-weight: 700;
    display: flex;
    align-items: center;
    margin: 0 15px 0 20px;
}

.profile-button img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.main-profile-pic {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.user-img1 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
    align-items: center;
}

.message-wrapper { 
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    align-self: center;
    font-weight: 700;
    font-size: 24px;
    margin-left: 20px;
}

.message {
    font-size: 14px;
}

.interact-button {
    padding: 5px 30px;
    background-color: #1992d4;
    color: white;
    font-weight: 700;
    border-radius: 20px;
    height: 40px;
    min-width: 110px;
    font-size: 14px;
    border: none;
    justify-content: center;
}

.interact-button:hover {
    background-color: #0f6a9b;
}

h3 {
    margin: 30px 0 10px 0;
}

.content {
    grid-column: 2 / 3;
    grid-row: 2 / -1;
    padding: 0 20px;
    margin-bottom: 30px;
}

.project-card-grid {
    display: grid;
    gap: 25px;
    padding: 4px;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.project-card {
    border-left: 10px solid #f0b429;
    border-radius: 10px;
    padding: 15px 10px;
    background-color: white;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.info-bar {
    grid-column: 3 / -1;
    grid-row: 2 / -1;
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    margin-bottom: 30px;
}


.trending-card {
    display: grid;
    grid-template: repeat(4, 65px) / 1fr;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    gap: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.contact {
   display: grid;
   grid-template: 1fr 1fr / 60px 1fr; 
   font-size: 13px;
}

.contact p {
    margin: 0;
    color: rgb(92, 92, 92);
}

.contact>p:first-of-type {
    align-self: flex-end;
    color: black;
    font-weight: 500;
    font-size: 14px;
}

.contact>img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    align-self: center;
    justify-self: center;
}

.contact>img:hover {
    transform: scale(1.1);
    transition: 200ms;
}

.announce-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.info-message-title {
    font-size: 14px;
    font-weight: 900;
}

.info-message-title:not(:first-child) {
    margin-top: 15px;
}

.info-message:not(:last-child) {
    border-bottom: 1px solid rgba(92, 92, 92, 0.418);
    padding-bottom: 15px;
}

.info-message {
    margin: 0;
    color: rgb(92, 92, 92);
    font-size: 12px;
}

/* footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
} */